<div class="header bignav">
  <a href="/" class="logo"><img src="https://spareshub.com/pub/media/logo/stores/1/200x50xlogo.png.pagespeed.ic.3_mBb67eog.webp" alt="logo" class="logo"></a>
  
                    <input id="search" type="text" name="q" value="" placeholder="Search entire store here...                             &#128270;" class="input-text" maxlength="150" role="combobox" aria-haspopup="false" aria-autocomplete="both" aria-expanded="false" autocomplete="off" >
                    {{!-- <i class="fas fa-search"></i> --}}
                </input>
  <div class="header-right">
    <div class="row">
<ul class="call-icon-ul">
<li class="call-icon-li">Call us - <em class="fa fa-phone icon-font-normal" aria-hidden="true" id="customercare"> 919307901479</em></li>
<li class="call-icon-li">Whatsapp us - <em class="fa fa-whatsapp icon-font-normal" aria-hidden="true" id="customercare"> 9307901458</em></li>
<li class="call-icon-li">Email us - <em class="fa fa-envelope icon-font-normal" aria-hidden="true" id="customercare"> care@spareshub.com</em></li>
<div class="cartdiv">
<a href="/cart"><i class="fas fa-shopping-bag" id="cart" ></i></a>
</div>
</ul>
  
</div>
</div>
 
</div>


  
