
<div class="row" id="productlist">
  {{#each item}}
  <div class="col-md-2 col-sm-6 colmed">
    <div class="product-grid">
      <div class="product-image">
        <a href="#" class="image">
          <img
            class="pic-1"
            src="https://spareshub.com/pub/media/catalog/product/placeholder/default/xno_image_3.png.pagespeed.ic.CL0sy0K3dL.webp"
          />

        </a>

      </div>
      <div class="product-content">
        <ul class="rating">
          <li class="fas fa-star"></li>
          <li class="fas fa-star"></li>
          <li class="fas fa-star"></li>
          <li class="fas fa-star"></li>
          <li class="fas fa-star"></li>
        </ul>
        <h3 class="title"><a href="#">{{name}}</a></h3>
        <div class="price">{{price}}</div>
        <div class="product-button-group" onclick="getproduct('{{_id}}')">
          <a class="product-like-icon" href="#"><i class="fas fa-heart"></i></a>
          <a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i>ADD
            TO CART</a>
          <a class="product-compare-icon" href="#"><i
              class="fas fa-signal"
            ></i></a>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>

</html>

<script>


async function getproduct(el){

   let data=await fetch(`/brands/${el}`)

  res=await data.json()

  let val=res.item;

 var arr=localStorage.getItem('cart');


 


    if(arr==null){
      arr=[];
      let total=0;
      let x=0;
      localStorage.setItem('carttotalofspaere', x)
    }
    else{
      arr=JSON.parse(localStorage.getItem('cart'));
     
 
    }

    arr.push(val)
    localStorage.setItem('carttotalofspaere', arr.length )

     localStorage.setItem('cart',JSON.stringify(arr)) 
    

}

</script>