<nav class="navbar navbar-expand-sm topbar">
  
    <ul class="navbar-nav ms-auto">
       <li class="nav-link wc">
         {{!-- {{#if login}}
         {{user}}
         
      {{else}}
      
       WELCOME AT SPARESHUB.COM!
       {{/if}} --}}
 
      </li>
        <li class="nav-item">
            <a class="nav-link blue" href="#">
              CONTACT US
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link blue" href="/signin">
              SIGN IN
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link blue" href="/account">
              CREATE AN ACCOUNT
            </a>
        </li>
    </ul>
</nav>